<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>NuralTec</title>
    <link rel="icon" href="/img/piz1.jpg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="/css/app.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>

<body>
    <header id="home"class="section">
        <div >
             <!-- header inner -->
             <div class="header">
                <div class="container">
                   <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                         <div class="full">
                            <div class="center-desk">
                               <div class="logo"><a href="/"><img src="img/logo.png" style="max-width: 100%;"></a> 
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                         <div class="menu-area">
                            <div class="limit-box">
                               <nav class="main-menu">
                                  <ul class="menu-area-main">
                                     <li><a href="/">Home</a></li>
                                     <li><a href="/about">About</a></li>
                                     <li><a href="/projects">Projects</a></li>
                                     <li><a href="/testimonial">Testimonial</a></li>
                                     <li><a href="/contact">Contact Us</a></li>
                                  </ul>
                               </nav>
                            </div>
                         </div>
                     </div>
                   </div>
                </div>
             </div>
             <!-- end header inner -->
          
        </div>
        </header>
    
    <%- body %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Whatsapp start -->
<a href="https://api.whatsapp.com/send?phone=+2348031313555&text=Hello NuralTec!" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
        <!-- Whatsapp end  -->

          <!-- New footer -->
    <!-- <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">NuralTec</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
  </footer> -->
        <div class="contact_section_3">
            <div class="container">
                <div class="contact_taital">
                    <div class="row web">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="map_main">
                                <img src="img/map-icon.png">
                                <span class="londan_text">London 145 United Kingdom</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="map_main">
                                <img src="img/phone-icon.png">
                                <span class="londan_text">+7586656566</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="map_main">
                                <img src="img/email-icon.png">
                                <span class="londan_text">demo@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_product">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <div class="footer-logo"><img src="img/footer-logo.png" style="max-width: 100%;"></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <h1 class="useful_text">USEFUL LINK</h1>
                        <div class="menu">
                            <ul>
                                <li><a href="#home"><img src="img/bulit-icon.png" style="padding-right: 10px;">Home</a></li>
                                <li><a href="#about"><img src="img/bulit-icon.png" style="padding-right: 10px;">About</a></li>
                                <li><a href="#service"><img src="img/bulit-icon.png" style="padding-right: 10px;">Services</a></li>
                                <li><a href="#contact"><img src="img/bulit-icon.png" style="padding-right: 10px;">Contact Us</a></li>
                            </ul>
                        </div>	
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <h1 class="useful_text">PRODUCT</h1>
                            <div class="menu multi_column_menu">
                               <ul>
                                  <li class="footer_menu"><a href="#"><img src="img/bulit-icon.png" class="footer_menu">Webhosting</a></li>
                                  <li class="footer_menu"><a href="#"><img src="img/bulit-icon.png" class="footer_menu">Reseler Hosting</a></li>
                                  <li class="footer_menu"><a href="#"><img src="img/bulit-icon.png" class="footer_menu">VPS Hosting</a></li>
                                  <li class="footer_menu"><a href="#"><img src="img/bulit-icon.png" class="footer_menu">Wordpress Hosting</a></li>
                                  <li class="footer_menu"><a href="#"><img src="img/bulit-icon.png" class="footer_menu">Dedicated hosting</a></li>
                                  <li class="footer_menu"><a href="#"><img src="img/bulit-icon.png" class="footer_menu">Windows</a></li>
                               </ul>
                            </div>
                            <div class="input-group mb-3 margin-top-30">
                               <input type="text" class="form-control" placeholder="Enter you email">
                               <div class="input-group-append">
                                  <button class="subsrcibe_bt" type="Subscribe"><a href="#">SUBSCRIBE</a></button>  
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon_main">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="menu_text">
                                <ul>
                                   <li><a href="#"><img src="img/fb-icon.png"></a></li>
                                   <li><a href="#"><img src="img/twitter-icon.png"></a></li>
                                   <li><a href="#"><img src="img/in-icon.png"></a></li>
                                   <li><a href="#"><img src="img/google-icon.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_main">
            <div class="container">
                <p class="copy_text">© 2020 All Rights Reserved. <a href="https://html.design">NuralTec</a></p>
            </div>
        </div>

        <script src="/js/app.js"></script>
         <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>


      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 

</body>

</html>